:root {
  /* Primary */
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --gray-500: hsl(227, 10%, 46%);

  /* Neutral */
  --gray-100: hsl(225, 10%, 92%);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 40vh;
    text-align: center;
    font-family: Kumbh Sans;
    margin: 0;
    padding: 0;
}

h1, h3{
    font-size: 1.125rem;
}
h2{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-500);
}
h3{
    margin-bottom: 0.5rem;
    color: var(--navy-950);
}
h4{
    margin-top: 0;
    font-size: 0.625rem;
    font-weight: 400;
    color: var(--gray-500);
}

.age-text{
    font-weight: 400;
    color: var(--gray-500);
}

main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
    width: 350px;
    height: 360px;
    border-radius: 0.938rem;
}

.profile-info{
    width: 100%;
}

.img-section{
    position: relative;
    top: -51px;
    background-image: url(images/bg-pattern-card.svg);
    height: 148px;
    border-radius: 0.938rem 0.938rem 0 0;
    display: block;
}

.profile-img{
    position: relative;
    bottom: -100px;
    height: 6rem;
    border-radius: 100%;
    outline: 5px solid white;
}

.stats-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray-100);
}

.stat{
    margin-right: 3.5rem;
}

